<section id="search">
  <form>
    <% if (config.language === 'zh-CN' || config.language === 'zh') { %>
      <input type="text" class="search-input" id="search-input" placeholder="搜索文章...">
    <% } else { %>
      <input type="text" class="search-input" id="search-input" placeholder="search...">
    <% } %>
  </form>
  <div id="search-result"></div>
  <% if (config.language === 'zh-CN' || config.language === 'zh') { %>
    <p class="search-no-result">没有找到相关结果</p>
  <% } else { %>
    <p class="search-no-result">No results found</p>
  <% } %>
</section>
